.wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  height: 100px;
  background-color: #61b34f;
  color: #d8efd2;
  font-family: sans-serif;
  font-size: 1.7em;
  border: .5px solid #b0dba6;
  width: 24%;
}

.buttons h4 {
  padding: 0 53px;
}

.display-area {
  height: 100px;
  background-color: #61b34f;
  color: white;
  font-family: sans-serif;
  font-size: 1.7em;
  border: .5px solid #b0dba6;
  width: 72.8%;
}

.light-buttons {
  background-color: #93c687;
  color: #666;
}
